<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/terms.css">
</head>
<body>
    {% extends "layout.html" %}
    {% block head %}
    {% endblock %}
    {% block content %}
    <div class="terms-box">
        <div class="terms-text">
            <h2>Terms Of Service</h2>
            <p>Last Edit: 05/13/2024</p>
            <p>Greetings Users,</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nobis nulla et doloribus, nesciunt quos ab esse saepe vero, eligendi quis eius, quisquam dolor. Cum libero rem vitae blanditiis? Nesciunt, fugiat tempore.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores distinctio optio perspiciatis sapiente. Ipsum cumque fuga earum exercitationem? Eveniet tempore beatae iure, et id quasi nesciunt rerum sequi nulla modi, consectetur corrupti?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam laudantium pariatur porro recusandae molestias consectetur maiores qui! Molestias vel minus cum, at unde modi omnis distinctio sapiente facilis a veniam ipsa quibusdam.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit aut, sapiente consequatur dolorem velit, deleniti illum excepturi magnam quidem ullam quos nam dolorum laudantium reprehenderit eum officiis iusto delectus quaerat? Velit, aliquam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde amet ut id ipsam. Dolorem ea dolorum a ratione harum blanditiis, deleniti quo minus, aspernatur sunt exercitationem maxime quia voluptas tempora, sed quaerat?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sapiente explicabo voluptatum nam iste quidem nesciunt perspiciatis adipisci, architecto distinctio earum tempora. Earum consequatur maxime fugit cupiditate veniam incidunt! Natus, maiores voluptatum!</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>
